In [ ]:
!pip install yfinance

In [ ]:
import pandas as pd
import yfinance as yf

In [ ]:
symbol = 'AAPL'
ticker = yf.Ticker(symbol)

In [ ]:
df = ticker.history(start = '2023-02-01', end = '2023-02-12')

In [ ]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-02-01 00:00:00-05:00,143.750517,146.386491,141.104563,145.208282,77663600,0.00,0.0
2023-02-02 00:00:00-05:00,148.673001,150.949524,147.944119,150.590088,118339000,0.00,0.0
2023-02-03 00:00:00-05:00,147.804328,157.140080,147.604636,154.264465,154279900,0.00,0.0
2023-02-06 00:00:00-05:00,152.337419,152.866610,150.550139,151.498688,69858300,0.00,0.0
2023-02-07 00:00:00-05:00,150.410349,154.993348,150.410349,154.414230,83322600,0.00,0.0
2023-02-08 00:00:00-05:00,153.645419,154.344349,150.939544,151.688400,64120100,0.00,0.0
2023-02-09 00:00:00-05:00,153.545567,154.094731,150.190688,150.639999,56007100,0.00,0.0
2023-02-10 00:00:00-05:00,149.460007,151.339996,149.220001,151.009995,57409100,0.23,0.0

In [ ]:
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')

In [ ]:
df = ticker.history(start = '2023-02-01', end = '2023-02-12', actions = False, rounding = True)

In [ ]:
df

                             Open    High     Low   Close     Volume
Date
2023-02-01 00:00:00-05:00  143.75  146.39  141.10  145.21   77663600
2023-02-02 00:00:00-05:00  148.67  150.95  147.94  150.59  118339000
2023-02-03 00:00:00-05:00  147.80  157.14  147.60  154.26  154279900
2023-02-06 00:00:00-05:00  152.34  152.87  150.55  151.50   69858300
2023-02-07 00:00:00-05:00  150.41  154.99  150.41  154.41   83322600
2023-02-08 00:00:00-05:00  153.65  154.34  150.94  151.69   64120100
2023-02-09 00:00:00-05:00  153.55  154.09  150.19  150.64   56007100
2023-02-10 00:00:00-05:00  149.46  151.34  149.22  151.01   57409100

In [ ]:
df = ticker.history(period = '5d', actions = False, rounding = True, interval = '1m', prepost = False)

In [ ]:
df

                             Open    High     Low   Close   Volume
Datetime
2023-02-08 09:30:00-05:00  153.88  153.98  153.23  153.58  1907383
2023-02-08 09:31:00-05:00  153.53  154.07  153.40  153.87   356948
2023-02-08 09:32:00-05:00  153.87  154.15  153.70  154.00   328442
2023-02-08 09:33:00-05:00  154.02  154.03  153.73  153.99   203852
2023-02-08 09:34:00-05:00  153.97  154.20  153.80  154.11   247953
...                           ...     ...     ...     ...      ...
2023-02-14 11:32:00-05:00  151.32  151.47  151.26  151.31   154178
2023-02-14 11:33:00-05:00  151.32  151.44  151.22  151.23   105803
2023-02-14 11:34:00-05:00  151.21  151.28  151.12  151.21   152029
2023-02-14 11:35:00-05:00  151.21  151.48  151.14  151.47   131680
2023-02-14 11:36:00-05:00  151.36  151.36  151.36  151.36        0

[1686 rows x 5 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1686 entries, 2023-02-08 09:30:00-05:00 to 2023-02-14 11:36:00-05:00
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1686 non-null   float64
 1   High    1686 non-null   float64
 2   Low     1686 non-null   float64
 3   Close   1686 non-null   float64
 4   Volume  1686 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 79.0 KB

In [ ]:
symbol = 'BTC-USD'
ticker = yf.Ticker(symbol)

In [ ]:
df = ticker.history(period = '5d', actions = False, rounding = True, interval = '1m', prepost = False)

In [ ]:
df.head()

                               Open      High       Low     Close   Volume
Datetime
2023-02-10 00:00:00+00:00  21819.01  21819.01  21819.01  21819.01        0
2023-02-10 00:01:00+00:00  21821.12  21821.12  21821.12  21821.12        0
2023-02-10 00:02:00+00:00  21820.50  21820.50  21820.50  21820.50        0
2023-02-10 00:03:00+00:00  21813.52  21813.52  21813.52  21813.52        0
2023-02-10 00:04:00+00:00  21811.20  21811.20  21811.20  21811.20  5558272

In [ ]:
symbols = 'AAPL BTC-USD GOOG'
ticker1 = yf.Tickers(symbols)

In [ ]:
df = ticker1.history(interval = '1d', start = '2020-01-01', actions = False, rounding = True)

[*********************100%***********************]  3 of 3 completed

In [ ]:
df

             Close                     High                      Low  \
              AAPL   BTC-USD   GOOG    AAPL   BTC-USD   GOOG    AAPL
Date
2020-01-01     NaN   7200.17    NaN     NaN   7254.33    NaN     NaN
2020-01-02   73.45   6985.47  68.37   73.51   7212.16  68.41   72.19
2020-01-03   72.74   7344.88  68.03   73.51   7413.72  68.62   72.51
2020-01-04     NaN   7410.66    NaN     NaN   7427.39    NaN     NaN
2020-01-05     NaN   7411.32    NaN     NaN   7544.50    NaN     NaN
...            ...       ...    ...     ...       ...    ...     ...
2023-02-10  151.01  21651.18  94.86  151.34  21941.19  97.02  149.22
2023-02-11     NaN  21870.88    NaN     NaN  21891.41    NaN     NaN
2023-02-12     NaN  21788.20    NaN     NaN  22060.99    NaN     NaN
2023-02-13  153.85  21808.10  95.00  154.26  21898.41  95.35  150.92
2023-02-14  151.37  21989.62  92.96  153.77  22284.53  94.87  150.87

                               Open                        Volume  \
             BTC-USD   GOOG    AAPL   BTC-USD   GOOG         AAPL
Date
2020-01-01   7174.94    NaN     NaN   7194.89    NaN          NaN
2020-01-02   6935.27  67.08   72.44   7202.55  67.08  135480400.0
2020-01-03   6915.00  67.28   72.67   6984.43  67.39  146322800.0
2020-01-04   7309.51    NaN     NaN   7345.38    NaN          NaN
2020-01-05   7400.54    NaN     NaN   7410.45    NaN          NaN
...              ...    ...     ...       ...    ...          ...
2023-02-10  21539.39  94.53  149.46  21819.01  95.74   57409100.0
2023-02-11  21618.45    NaN     NaN  21651.84    NaN          NaN
2023-02-12  21682.83    NaN     NaN  21870.90    NaN          NaN
2023-02-13  21460.09  94.05  150.95  21787.00  95.01   62123800.0
2023-02-14  21647.42  92.82  152.12  21793.26  94.66   27355661.0


                BTC-USD        GOOG
Date
2020-01-01  18565664997         NaN
2020-01-02  20802083465  28132000.0
2020-01-03  28111481032  23728000.0
2020-01-04  18444271275         NaN
2020-01-05  19725074095         NaN
...                 ...         ...
2023-02-10  27078406594  49269900.0
2023-02-11  16356226232         NaN
2023-02-12  17821046406         NaN
2023-02-13  23918742607  43053300.0
2023-02-14  26534170624  18224116.0

[1141 rows x 15 columns]

In [ ]:
idx = pd.IndexSlice
df.loc[:, idx['Close', ['AAPL','GOOG']]]

             Close
              AAPL   GOOG
Date
2020-01-01     NaN    NaN
2020-01-02   73.45  68.37
2020-01-03   72.74  68.03
2020-01-04     NaN    NaN
2020-01-05     NaN    NaN
...            ...    ...
2023-02-10  151.01  94.86
2023-02-11     NaN    NaN
2023-02-12     NaN    NaN
2023-02-13  153.85  95.00
2023-02-14  151.37  92.96

[1141 rows x 2 columns]

In [ ]:
df['Close'][['AAPL', 'GOOG']]

              AAPL   GOOG
Date
2020-01-01     NaN    NaN
2020-01-02   73.45  68.37
2020-01-03   72.74  68.03
2020-01-04     NaN    NaN
2020-01-05     NaN    NaN
...            ...    ...
2023-02-10  151.01  94.86
2023-02-11     NaN    NaN
2023-02-12     NaN    NaN
2023-02-13  153.85  95.00
2023-02-14  151.37  92.96

[1141 rows x 2 columns]

In [ ]:
df = ticker1.history(interval = '1d', start = '2020-01-01', actions = False, rounding = True, group_by = 'tickers')

[*********************100%***********************]  3 of 3 completed

In [ ]:
df

             BTC-USD                                               AAPL  \
                Open      High       Low     Close       Volume    Open
Date
2020-01-01   7194.89   7254.33   7174.94   7200.17  18565664997     NaN
2020-01-02   7202.55   7212.16   6935.27   6985.47  20802083465   72.44
2020-01-03   6984.43   7413.72   6915.00   7344.88  28111481032   72.67
2020-01-04   7345.38   7427.39   7309.51   7410.66  18444271275     NaN
2020-01-05   7410.45   7544.50   7400.54   7411.32  19725074095     NaN
...              ...       ...       ...       ...          ...     ...
2023-02-10  21819.01  21941.19  21539.39  21651.18  27078406594  149.46
2023-02-11  21651.84  21891.41  21618.45  21870.88  16356226232     NaN
2023-02-12  21870.90  22060.99  21682.83  21788.20  17821046406     NaN
2023-02-13  21787.00  21898.41  21460.09  21808.10  23918742607  150.95
2023-02-14  21793.26  22284.53  21647.42  21990.36  26526380032  152.12

                                                  GOOG                       \
              High     Low   Close       Volume   Open   High    Low  Close
Date
2020-01-01     NaN     NaN     NaN          NaN    NaN    NaN    NaN    NaN
2020-01-02   73.51   72.19   73.45  135480400.0  67.08  68.41  67.08  68.37
2020-01-03   73.51   72.51   72.74  146322800.0  67.39  68.62  67.28  68.03
2020-01-04     NaN     NaN     NaN          NaN    NaN    NaN    NaN    NaN
2020-01-05     NaN     NaN     NaN          NaN    NaN    NaN    NaN    NaN
...            ...     ...     ...          ...    ...    ...    ...    ...
2023-02-10  151.34  149.22  151.01   57409100.0  95.74  97.02  94.53  94.86
2023-02-11     NaN     NaN     NaN          NaN    NaN    NaN    NaN    NaN
2023-02-12     NaN     NaN     NaN          NaN    NaN    NaN    NaN    NaN
2023-02-13  154.26  150.92  153.85   62123800.0  95.01  95.35  94.05  95.00
2023-02-14  153.77  150.87  151.45   29014314.0  94.66  94.87  92.65  92.84


                Volume
Date
2020-01-01         NaN
2020-01-02  28132000.0
2020-01-03  23728000.0
2020-01-04         NaN
2020-01-05         NaN
...                ...
2023-02-10  49269900.0
2023-02-11         NaN
2023-02-12         NaN
2023-02-13  43053300.0
2023-02-14  19846967.0

[1141 rows x 15 columns]

In [ ]:
df.head()

            BTC-USD                                           AAPL         \
               Open     High      Low    Close       Volume   Open   High
Date
2020-01-01  7194.89  7254.33  7174.94  7200.17  18565664997    NaN    NaN
2020-01-02  7202.55  7212.16  6935.27  6985.47  20802083465  72.44  73.51
2020-01-03  6984.43  7413.72  6915.00  7344.88  28111481032  72.67  73.51
2020-01-04  7345.38  7427.39  7309.51  7410.66  18444271275    NaN    NaN
2020-01-05  7410.45  7544.50  7400.54  7411.32  19725074095    NaN    NaN

                                        GOOG
              Low  Close       Volume   Open   High    Low  Close      Volume
Date
2020-01-01    NaN    NaN          NaN    NaN    NaN    NaN    NaN         NaN
2020-01-02  72.19  73.45  135480400.0  67.08  68.41  67.08  68.37  28132000.0
2020-01-03  72.51  72.74  146322800.0  67.39  68.62  67.28  68.03  23728000.0
2020-01-04    NaN    NaN          NaN    NaN    NaN    NaN    NaN         NaN
2020-01-05    NaN    NaN          NaN    NaN    NaN    NaN    NaN         NaN

In [ ]:
symbol = 'AAPL'
ticker = yf.Ticker(symbol)

In [ ]:
ticker.info

In [ ]:
ticker.info.keys()

In [ ]:
pd.Series(ticker.info).head(15)

zip                                                                95014
sector                                                        Technology
fullTimeEmployees                                                 164000
longBusinessSummary    Apple Inc. designs, manufactures, and markets ...
city                                                           Cupertino
phone                                                       408 996 1010
state                                                                 CA
country                                                    United States
companyOfficers                                                       []
website                                            https://www.apple.com
maxAge                                                                 1
address1                                              One Apple Park Way
industry                                            Consumer Electronics
ebitdaMargins                                                    0.32329
profitMargins                                                    0.24558
dtype: object

In [ ]:
ticker.info['longBusinessSummary']

'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, and HomePod. Further, it provides AppleCare support and cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Fitness+, a personalized fitness service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.'

In [ ]:
data = ticker.history(period = '10y')

In [ ]:
data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2013-02-14 00:00:00-05:00,14.328473,14.548094,14.313050,14.392323,355275200,0.00,0.0
2013-02-15 00:00:00-05:00,14.462031,14.502440,14.186579,14.193982,391745200,0.00,0.0
2013-02-19 00:00:00-05:00,14.222982,14.273260,13.999350,14.188742,435783600,0.00,0.0
2013-02-20 00:00:00-05:00,14.117794,14.117794,13.843574,13.845118,476302400,0.00,0.0
2013-02-21 00:00:00-05:00,13.757206,13.854988,13.659117,13.759057,447182400,0.00,0.0
...,...,...,...,...,...,...,...
2023-02-08 00:00:00-05:00,153.645419,154.344349,150.939544,151.688400,64120100,0.00,0.0
2023-02-09 00:00:00-05:00,153.545567,154.094731,150.190688,150.639999,56007100,0.00,0.0
2023-02-10 00:00:00-05:00,149.460007,151.339996,149.220001,151.009995,57409100,0.23,0.0
2023-02-13 00:00:00-05:00,150.949997,154.259995,150.919998,153.850006,62123800,0.00,0.0
2023-02-14 00:00:00-05:00,152.119995,153.770004,150.869995,151.839996,30105464,0.00,0.0

In [ ]:
ticker.actions

In [ ]:
ticker.dividends

In [ ]:
ticker.splits

In [ ]:
ticker.financials

WARNING: No decryption keys could be extracted from JS file. Falling back to backup decrypt methods.

,2022-09-30,2021-09-30,2020-09-30,2019-09-30
Total Revenue,394328000000.0,365817000000.0,274515000000.0,260174000000.0
Operating Revenue,394328000000.0,365817000000.0,274515000000.0,260174000000.0
Cost Of Revenue,223546000000.0,212981000000.0,169559000000.0,161782000000.0
Gross Profit,170782000000.0,152836000000.0,104956000000.0,98392000000.0
Operating Expense,51345000000.0,43887000000.0,38668000000.0,34462000000.0
Selling General And Administration,25094000000.0,21973000000.0,19916000000.0,18245000000.0
Research And Development,26251000000.0,21914000000.0,18752000000.0,16217000000.0
Operating Income,119437000000.0,108949000000.0,66288000000.0,63930000000.0
Net Non Operating Interest Income Expense,-106000000.0,198000000.0,890000000.0,1385000000.0
Interest Income Non Operating,2825000000.0,2843000000.0,3763000000.0,4961000000.0
Interest Expense Non Operating,2931000000.0,2645000000.0,2873000000.0,3576000000.0
Other Income Expense,-228000000.0,60000000.0,-87000000.0,422000000.0
Other Non Operating Income Expenses,-228000000.0,60000000.0,-87000000.0,422000000.0
Pretax Income,119103000000.0,109207000000.0,67091000000.0,65737000000.0
Tax Provision,19300000000.0,14527000000.0,9680000000.0,10481000000.0
Net Income Common Stockholders,99803000000.0,94680000000.0,57411000000.0,55256000000.0
Net Income,99803000000.0,94680000000.0,57411000000.0,55256000000.0
Net Income Including Noncontrolling Interests,99803000000.0,94680000000.0,57411000000.0,55256000000.0
Net Income Continuous Operations,99803000000.0,94680000000.0,57411000000.0,55256000000.0
Diluted NI Availto Com Stockholders,99803000000.0,94680000000.0,57411000000.0,55256000000.0
Basic EPS,6.15,5.67,3.31,2.9925
Diluted EPS,6.11,5.61,3.28,2.9725
Basic Average Shares,16215963000.0,16701272000.0,17352119000.0,18471336000.0
Diluted Average Shares,16325819000.0,16864919000.0,17528214000.0,18595652000.0
Total Operating Income As Reported,119437000000.0,108949000000.0,66288000000.0,63930000000.0
Total Expenses,274891000000.0,256868000000.0,208227000000.0,196244000000.0
Net Income From Continuing And Discontinued Operation,99803000000.0,94680000000.0,57411000000.0,55256000000.0
Normalized Income,99803000000.0,94680000000.0,57411000000.0,55256000000.0
Interest Income,2825000000.0,2843000000.0,3763000000.0,4961000000.0
Interest Expense,2931000000.0,2645000000.0,2873000000.0,3576000000.0
Net Interest Income,-106000000.0,198000000.0,890000000.0,1385000000.0
EBIT,122034000000.0,111852000000.0,69964000000.0,69313000000.0
Reconciled Cost Of Revenue,223546000000.0,212981000000.0,169559000000.0,161782000000.0
Reconciled Depreciation,11104000000.0,11284000000.0,11056000000.0,12547000000.0
Net Income From Continuing Operation Net Minority Interest,99803000000.0,94680000000.0,57411000000.0,55256000000.0
Normalized EBITDA,133138000000.0,123136000000.0,81020000000.0,81860000000.0
Tax Rate For Calcs,0.162,0.133,0.144,0.159
Tax Effect Of Unusual Items,0.0,0.0,0.0,0.0

In [ ]:
ticker.balance_sheet

WARNING: No decryption keys could be extracted from JS file. Falling back to backup decrypt methods.

,2022-09-30,2021-09-30,2020-09-30,2019-09-30
Total Assets,352755000000.0,351002000000.0,323888000000.0,338516000000.0
Current Assets,135405000000.0,134836000000.0,143713000000.0,162819000000.0
Cash Cash Equivalents And Short Term Investments,48304000000.0,62639000000.0,90943000000.0,100557000000.0
Cash And Cash Equivalents,23646000000.0,34940000000.0,38016000000.0,48844000000.0
Cash Financial,18546000000.0,17305000000.0,17773000000.0,12204000000.0
Cash Equivalents,5100000000.0,17635000000.0,20243000000.0,36640000000.0
Other Short Term Investments,24658000000.0,27699000000.0,52927000000.0,51713000000.0
Receivables,60932000000.0,51506000000.0,37445000000.0,45804000000.0
Accounts Receivable,28184000000.0,26278000000.0,16120000000.0,22926000000.0
Other Receivables,32748000000.0,25228000000.0,21325000000.0,22878000000.0
Inventory,4946000000.0,6580000000.0,4061000000.0,4106000000.0
Other Current Assets,21223000000.0,14111000000.0,11264000000.0,12352000000.0
Total Non Current Assets,217350000000.0,216166000000.0,180175000000.0,175697000000.0
Net PPE,42117000000.0,39440000000.0,36766000000.0,37378000000.0
Gross PPE,114457000000.0,109723000000.0,103526000000.0,95957000000.0
Properties,0.0,0.0,0.0,0.0
Land And Improvements,22126000000.0,20041000000.0,17952000000.0,17085000000.0
Machinery Furniture Equipment,81060000000.0,78659000000.0,75291000000.0,69797000000.0
Leases,11271000000.0,11023000000.0,10283000000.0,9075000000.0
Accumulated Depreciation,-72340000000.0,-70283000000.0,-66760000000.0,-58579000000.0
Investments And Advances,120805000000.0,127877000000.0,100887000000.0,105341000000.0
Investmentin Financial Assets,120805000000.0,127877000000.0,100887000000.0,105341000000.0
Available For Sale Securities,120805000000.0,127877000000.0,100887000000.0,105341000000.0
Other Investments,120805000000.0,127877000000.0,100887000000.0,105341000000.0
Other Non Current Assets,54428000000.0,48849000000.0,42522000000.0,32978000000.0
Total Liabilities Net Minority Interest,302083000000.0,287912000000.0,258549000000.0,248028000000.0
Current Liabilities,153982000000.0,125481000000.0,105392000000.0,105718000000.0
Payables And Accrued Expenses,64115000000.0,54763000000.0,42296000000.0,46236000000.0
Payables,64115000000.0,54763000000.0,42296000000.0,46236000000.0
Accounts Payable,64115000000.0,54763000000.0,42296000000.0,46236000000.0
Current Debt And Capital Lease Obligation,21110000000.0,15613000000.0,13769000000.0,16240000000.0
Current Debt,21110000000.0,15613000000.0,13769000000.0,16240000000.0
Commercial Paper,9982000000.0,6000000000.0,4996000000.0,5980000000.0
Other Current Borrowings,11128000000.0,9613000000.0,8773000000.0,10260000000.0
Current Deferred Liabilities,7912000000.0,7612000000.0,6643000000.0,5522000000.0
Current Deferred Revenue,7912000000.0,7612000000.0,6643000000.0,5522000000.0
Other Current Liabilities,60845000000.0,47493000000.0,42684000000.0,37720000000.0
Total Non Current Liabilities Net Minority Interest,148101000000.0,162431000000.0,153157000000.0,142310000000.0
Long Term Debt And Capital Lease Obligation,98959000000.0,109106000000.0,98667000000.0,91807000000.0
Long Term Debt,98959000000.0,109106000000.0,98667000000.0,91807000000.0
Tradeand Other Payables Non Current,16657000000.0,24689000000.0,28170000000.0,29545000000.0
Other Non Current Liabilities,32485000000.0,28636000000.0,26320000000.0,20958000000.0
Total Equity Gross Minority Interest,50672000000.0,63090000000.0,65339000000.0,90488000000.0
Stockholders Equity,50672000000.0,63090000000.0,65339000000.0,90488000000.0
Capital Stock,64849000000.0,57365000000.0,50779000000.0,45174000000.0
Common Stock,64849000000.0,57365000000.0,50779000000.0,45174000000.0
Retained Earnings,-3068000000.0,5562000000.0,14966000000.0,45898000000.0
Gains Losses Not Affecting Retained Earnings,-11109000000.0,163000000.0,-406000000.0,-584000000.0
Total Capitalization,149631000000.0,172196000000.0,164006000000.0,182295000000.0
Common Stock Equity,50672000000.0,63090000000.0,65339000000.0,90488000000.0
Net Tangible Assets,50672000000.0,63090000000.0,65339000000.0,90488000000.0
Working Capital,-18577000000.0,9355000000.0,38321000000.0,57101000000.0
Invested Capital,170741000000.0,187809000000.0,177775000000.0,198535000000.0
Tangible Book Value,50672000000.0,63090000000.0,65339000000.0,90488000000.0
Total Debt,120069000000.0,124719000000.0,112436000000.0,108047000000.0
Net Debt,96423000000.0,89779000000.0,74420000000.0,59203000000.0
Share Issued,15943425000.0,16426786000.0,16976763000.0,17772944000.0
Ordinary Shares Number,15943425000.0,16426786000.0,16976763000.0,17772944000.0

In [ ]:
ticker.earnings

           Revenue     Earnings
Year
2019  260174000000  55256000000
2020  274515000000  57411000000
2021  365817000000  94680000000
2022  394328000000  99803000000

In [ ]:
ticker.options

In [ ]:
expiration_date = ticker.options[0]

In [ ]:
options = ticker.option_chain(expiration_date)

In [ ]:
options.calls

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,AAPL230217C00045000,2023-02-14 16:06:41+00:00,45.0,107.25,106.40,106.60,-0.629997,-0.583980,3.0,5.0,0.000010,True,REGULAR,USD
1,AAPL230217C00050000,2023-02-13 15:44:19+00:00,50.0,102.18,101.35,101.55,0.000000,0.000000,2.0,9.0,0.000010,True,REGULAR,USD
2,AAPL230217C00055000,2023-02-14 15:14:13+00:00,55.0,98.30,96.40,96.55,0.389999,0.398324,2.0,5.0,0.000010,True,REGULAR,USD
3,AAPL230217C00060000,2023-02-09 20:55:00+00:00,60.0,91.20,91.25,91.55,0.000000,0.000000,4249.0,20.0,0.000010,True,REGULAR,USD
4,AAPL230217C00065000,2023-02-13 20:49:05+00:00,65.0,88.75,86.35,86.60,0.000000,0.000000,4.0,4.0,0.000010,True,REGULAR,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,AAPL230217C00280000,2023-01-06 14:47:11+00:00,280.0,0.01,0.00,0.01,0.000000,0.000000,400.0,424.0,1.750001,False,REGULAR,USD
83,AAPL230217C00285000,2023-01-04 20:09:07+00:00,285.0,0.01,0.00,0.01,0.000000,0.000000,250.0,652.0,1.812501,False,REGULAR,USD
84,AAPL230217C00290000,2023-01-04 18:16:26+00:00,290.0,0.01,0.00,0.01,0.000000,0.000000,350.0,512.0,1.875001,False,REGULAR,USD
85,AAPL230217C00295000,2023-02-13 15:22:52+00:00,295.0,0.01,0.00,0.01,0.000000,0.000000,1.0,1052.0,1.937500,False,REGULAR,USD
86,AAPL230217C00300000,2023-02-13 19:40:59+00:00,300.0,0.01,0.00,0.01,0.000000,0.000000,4.0,1369.0,1.937500,False,REGULAR,USD

In [ ]:
options.puts

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,AAPL230217P00045000,2023-02-07 18:23:51+00:00,45.0,0.01,0.0,0.01,0.000000,0.000000,4.0,3339,3.625001,False,REGULAR,USD
1,AAPL230217P00050000,2023-01-27 20:49:55+00:00,50.0,0.01,0.0,0.01,0.000000,0.000000,15.0,11807,3.250002,False,REGULAR,USD
2,AAPL230217P00055000,2023-02-13 14:34:42+00:00,55.0,0.01,0.0,0.01,0.000000,0.000000,5.0,2720,3.000002,False,REGULAR,USD
3,AAPL230217P00060000,2023-02-09 17:56:32+00:00,60.0,0.01,0.0,0.01,0.000000,0.000000,1.0,5735,2.750003,False,REGULAR,USD
4,AAPL230217P00065000,2023-02-14 14:31:33+00:00,65.0,0.01,0.0,0.01,0.000000,0.000000,1.0,1486,2.500004,False,REGULAR,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,AAPL230217P00280000,2022-12-29 18:17:36+00:00,280.0,150.30,132.9,135.35,0.000000,0.000000,6.0,0,4.907719,True,REGULAR,USD
79,AAPL230217P00285000,2023-01-26 18:01:44+00:00,285.0,142.05,133.4,133.65,0.000000,0.000000,NaN,0,2.763675,True,REGULAR,USD
80,AAPL230217P00290000,2022-09-28 17:00:19+00:00,290.0,142.18,133.9,134.60,0.000000,0.000000,NaN,0,0.000010,True,REGULAR,USD
81,AAPL230217P00295000,2022-09-28 19:06:08+00:00,295.0,145.75,138.9,139.60,0.000000,0.000000,NaN,0,0.000010,True,REGULAR,USD
82,AAPL230217P00300000,2023-02-14 14:37:22+00:00,300.0,148.40,148.5,148.70,1.399994,0.952377,10.0,10,3.037112,True,REGULAR,USD